{% extends 'base.html' %}
{% block title%}
    - About
{% endblock%}

{% block content %}

 
<div class="container" >
    <h1 class="text-center">About</h1>
    <div class="row justify-content-md-center h3">
       
        'Chicago Crime Trends' application is developed as part of final project for the DataBase Management System course - COP5725
        <br><br> 
            Team member involved in created this web application are as follows:
            <br><br>
            <ul lass="list-group">
                <li class="list-group-item"> Shashank Bantakal</li>
                <li class="list-group-item"> Shruthi Menon</li>
                <li class="list-group-item"> Santhosh Suresh</li>
                <li class="list-group-item"> Arushi Sanghvi</li>
            </ul>
    </div>
    <hr>
</div>
    
{% endblock %} 