{% extends 'base.html' %}
{% block title%}
    - Home Page
{% endblock%}

{% block content %}

 
<div class="container" >
    <h1 class="text-center">Home Page</h1>
    <div class="row justify-content-md-center h3">
       
            The Chicago Police Department (CPD) is the law enforcement agency of the U.S. city of Chicago, Illinois, under the jurisdiction of the City Council. 
            It is the second-largest municipal police department in the United States, behind the New York City Police Department. 
            It has approximately 13,500 officers and over 1,925 other employees.
      
    </div>
    <hr>
</div>
    
{% endblock %} 